body{
	margin:0;
	padding:0;
}
.container{
	border:3px solid black;
	border-radius:8px;
	width:100%;
	padding:20px;
	height:400px
}
h1{
	text-align:center;
}
p{
	margin-left:60px;
}
.code-container{
	margin-top:90px;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.code{
  	border:1px solid #e6e4e1;
	width:60px;
	height:60px;
	text-align:center;
	padding:20px;
	font-size:60px;
	font-style:bold;
	color:#606160;
}
.code:focus{
	border-color:#333;
}

